<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<!-- 버튼 그룹 -->
	<div class="btn-group col-md-12">
		<div class="col-md-offset-4 col-md-4">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="member-button">회원</button>
		</div>
		<div class="col-md-offset-4 col-md-4">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="order-button">주문</button>
		</div>
		<div class="col-md-offset-4 col-md-4">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="product-button">상품</button>
		</div>
		<div class="col-md-offset-4 col-md-4">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="delivery-button">배송</button>
		</div>
		<div class="col-md-offset-4 col-md-4">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="pay-button">결제</button>
		</div>


<!--		<form id="testForm" method="post" action="http://localhost:9000/login">-->
<!--			<input type="hidden" name="username" value="user">-->
<!--			<input type="hidden" name="password" value="1234">-->
<!--			<button type="button" id="submitBtn" >서브밋</button>-->
<!--		</form>-->
		<button id="test">로그인</button>

	</div>
	<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	<script src="/js/jquery-3.6.0.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/indexButtonHandler.js"></script>
</body>
</html>