<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>로그인 페이지</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<button id="login" class="btn btn-default">로그인</button>
	<button id="register" class="btn btn-primary">회원가입</button>
	<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	<script src="/js/jquery-3.6.0.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/member/login.js"></script>
</body>
</html>